# Natural Language Processing with Disaster Tweets

In [30]:
# importing all required packages

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import time, re
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn import feature_extraction, linear_model
import seaborn as sns
from sklearn.model_selection import train_test_split

## EDA

In [45]:
# reading training data

train_df = pd.read_csv('nlp-getting-started/train.csv')
print('Number of data points : ', train_df.shape[0])
print('Number of features : ', train_df.shape[1])
print('Features : ', train_df.columns.values)
train_df

Number of data points :  7613
Number of features :  5
Features :  ['id' 'keyword' 'location' 'text' 'target']

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [32]:
# reading test data

test_df = pd.read_csv('nlp-getting-started/test.csv')
print('Number of data points : ', test_df.shape[0])
print('Number of features : ', test_df.shape[1])
print('Features : ', test_df.columns.values)
test_df

Number of data points :  3263
Number of features :  4
Features :  ['id' 'keyword' 'location' 'text']

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

In [33]:
# checking the details of features provided

train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [34]:
train_df['target'].value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [35]:
train_df.nunique()

id          7613
keyword      221
location    3341
text        7503
target         2
dtype: int64

#### Observations:

1. Training data is balanced.
2. There are no tweets which has empty text feature
3. There are few tweets which have duplicate texts
4. There is a big chunk of data where location of the user is not mentioned

## Text pre-processing

In [36]:
train_df['text']=train_df['text'].apply(lambda x: x.lower())

In [37]:
train_df['text']=train_df['text'].apply(lambda x: x.replace("#", ""))

#### Removing URLs

In [38]:
# function for url removal

def remove_URL(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'',text)
train_df['text']=train_df['text'].apply(lambda x : remove_URL(x))

In [46]:
def remove_mention(text):
    return re.sub("@[A-Za-z0-9_]+","", text)
train_df['text']=train_df['text'].apply(lambda x : remove_mention(x))

In [47]:
train_df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,The out of control wild fires in California ...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

#### Stemming

In [41]:
# train_df['text'] = train_df['text'].apply(lambda x: [stemmer.stem(y) for y in x.split()])

In [42]:
# function for stemming
import nltk
stemmer = nltk.porter.PorterStemmer()
def get_stem(df):
    for ind in df.index:
        df['text'][ind] = ' '.join([stemmer.stem(word) for word in df['text'][ind].split()])
    return df

In [43]:
get_stem(train_df)

C:\Users\kashy\AppData\Local\Temp/ipykernel_20536/1409727696.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'][ind] = ' '.join([stemmer.stem(word) for word in df['text'][ind].split()])

,id,keyword,location,text,target
0,1,NaN,NaN,our deed are the reason of thi earthquak may a...,1
1,4,NaN,NaN,forest fire near la rong sask. canada,1
2,5,NaN,NaN,all resid ask to 'shelter in place' are be not...,1
3,6,NaN,NaN,"13,000 peopl receiv wildfir evacu order in cal...",1
4,7,NaN,NaN,just got sent thi photo from rubi alaska as sm...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,two giant crane hold a bridg collaps into near...,1
7609,10870,NaN,NaN,_ahrari the out of control wild fire in califo...,1
7610,10871,NaN,NaN,m1.94 [01:04 utc]?5km s of volcano hawaii.,1
7611,10872,NaN,NaN,polic investig after an e-bik collid with a ca...,1
7612,10873,NaN,NaN,the latest: more home raze by northern califor...,1

In [44]:
train_df

,id,keyword,location,text,target
0,1,NaN,NaN,our deed are the reason of thi earthquak may a...,1
1,4,NaN,NaN,forest fire near la rong sask. canada,1
2,5,NaN,NaN,all resid ask to 'shelter in place' are be not...,1
3,6,NaN,NaN,"13,000 peopl receiv wildfir evacu order in cal...",1
4,7,NaN,NaN,just got sent thi photo from rubi alaska as sm...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,two giant crane hold a bridg collaps into near...,1
7609,10870,NaN,NaN,_ahrari the out of control wild fire in califo...,1
7610,10871,NaN,NaN,m1.94 [01:04 utc]?5km s of volcano hawaii.,1
7611,10872,NaN,NaN,polic investig after an e-bik collid with a ca...,1
7612,10873,NaN,NaN,the latest: more home raze by northern califor...,1

#### Remove identifier

#### Remove duplicates from our dataset

In [14]:
indices = []
for i,row in train_df.iterrows():
    indices.append(i)

In [15]:
import itertools
stage1_dedupe_id = []
i = 0
j = 0
num_data_points = train_df.shape[0]
while i < num_data_points and j < num_data_points:
    
    previous_i = i

    # store the list of words of ith string in a, ex: a = ['tokidoki', 'The', 'Queen', 'of', 'Diamonds', 'Women's', 'Shirt', 'X-Large']
    a = train_df['text'].loc[indices[i]].split()

    # search for the similar products sequentially 
    j = i+1
    while j < num_data_points:

        # store the list of words of jth string in b, ex: b = ['tokidoki', 'The', 'Queen', 'of', 'Diamonds', 'Women's', 'Shirt', 'Small']
        b = train_df['text'].loc[indices[j]].split()

        # store the maximum length of two strings
        length = max(len(a), len(b))

        # count is used to store the number of words that are matched in both strings
        count  = 0

        # itertools.zip_longest(a,b): will map the corresponding words in both strings, it will appened None in case of unequal strings
        # example: a =['a', 'b', 'c', 'd']
        # b = ['a', 'b', 'd']
        # itertools.zip_longest(a,b): will give [('a','a'), ('b','b'), ('c','d'), ('d', None)]
        for k in itertools.zip_longest(a,b): 
            if (k[0] == k[1]):
                count += 1

        # if the number of words in which both strings differ are > 2 , we are considering it as those two apperals are different
        # if the number of words in which both strings differ are < 2 , we are considering it as those two apperals are same, hence we are ignoring them
        if (length - count) > 2: # number of words in which both sensences differ
            # if both strings are differ by more than 2 words we include the 1st string index
            stage1_dedupe_id.append(train_df['id'].loc[indices[i]])


            # start searching for similar apperals corresponds 2nd string
            i = j
            break
        else:
            print('1st text : ','i ',i, train_df['text'][i])
            print('2nd text : ','j ',j, train_df['text'][j])
            j += 1
    if previous_i == i:
        break

1st text :  i  114 320 [ir] icemoon [aftershock] | | @djicemoon | dubstep trapmus dnb edm danc icesû_
2nd text :  j  115 320 [ir] icemoon [aftershock] | | @djicemoon | dubstep trapmus dnb edm danc icesû_
1st text :  i  114 320 [ir] icemoon [aftershock] | | @djicemoon | dubstep trapmus dnb edm danc icesû_
2nd text :  j  116 320 [ir] icemoon [aftershock] | | @djicemoon | dubstep trapmus dnb edm danc icesû_
1st text :  i  118 320 [ir] icemoon [aftershock] | | @djicemoon | dubstep trapmus dnb edm danc icesû_
2nd text :  j  119 320 [ir] icemoon [aftershock] | | @djicemoon | dubstep trapmus dnb edm danc icesû_
1st text :  i  190 twelv fear kill in pakistani air ambul helicopt crash
2nd text :  j  191 twelv fear kill in pakistani air ambul helicopt crash
1st text :  i  192 ambul sprinter automat frontlin vehicl choic of 14 lez compliant | ebay
2nd text :  j  193 ambul sprinter automat frontlin vehicl choic of 14 lez compliant | ebay
1st text :  i  201 twelv fear kill in pakistani air ambul helicopt crash
2nd text :  j  202 twelv fear kill in pakistani air ambul helicopt crash
1st text :  i  201 twelv fear kill in pakistani air ambul helicopt crash
2nd text :  j  203 twelv fear kill in pakistani air ambul helicopt crash worldnew
1st text :  i  201 twelv fear kill in pakistani air ambul helicopt crash
2nd text :  j  204 twelv fear kill in pakistani air ambul helicopt crash worldnew
1st text :  i  250 u. nation park servic tonto nation forest: stop the annihil of the salt river wild horse... via @chang
2nd text :  j  251 u. nation park servic tonto nation forest: stop the annihil of the salt river wild horse... via @chang
1st text :  i  270 u. nation park servic tonto nation forest: stop the annihil of the salt river wild horse... via @chang
2nd text :  j  271 u. nation park servic tonto nation forest: stop the annihil of the salt river wild horse... via @chang
1st text :  i  304 pbban (temporary:300) avysss @'armageddon | do not kill | flag onli | fast xp' for reason
2nd text :  j  305 pbban (temporary:300) russaky89 @'armageddon | do not kill | flag onli | fast xp' for reason
1st text :  i  349 22.beyonc is my pick for fan armi beyhiv
2nd text :  j  350 17.beyonc is my pick for fan armi beyhiv
1st text :  i  370 beyonc is my pick for fan armi beyhiv 72
2nd text :  j  371 7.beyonc is my pick for fan armi beyhiv
1st text :  i  370 beyonc is my pick for fan armi beyhiv 72
2nd text :  j  372 beyonc is my pick for fan armi beyhiv 66
1st text :  i  370 beyonc is my pick for fan armi beyhiv 72
2nd text :  j  373 6.beyonc is my pick for fan armi beyhiv
1st text :  i  376 wwi wwii japanes armi navi militari japan leather watch war mido ww1 2 - full read by ebay
2nd text :  j  377 wwi wwii japanes armi navi militari japan leather watch war mido ww1 2 - full read by ebay
1st text :  i  378 one direct is my pick for fan armi direction x1434
2nd text :  j  379 one direct is my pick for fan armi direction
1st text :  i  386 mourn notic for stab arson victim stir û÷polit of griefûª in israel
2nd text :  j  387 mourn notic for stab arson victim stir û÷polit of griefûª in israel
1st text :  i  490 christian attack by muslim at the templ mount after wave isra flag via pamela geller - ...
2nd text :  j  491 christian attack by muslim at the templ mount after wave isra flag via pamela geller - ...
1st text :  i  490 christian attack by muslim at the templ mount after wave isra flag via pamela geller - ...
2nd text :  j  492 christian attack by muslim at the templ mount after wave isra flag via pamela geller - ...
1st text :  i  499 christian attack by muslim at the templ mount after wave isra flag via pamela geller - ...
2nd text :  j  500 christian attack by muslim at the templ mount after wave isra flag via pamela geller - ...
1st text :  i  504 christian attack by muslim at the templ mount after wave isra flag via pamela geller - ...
2nd text :  j  505 christian attack by muslim at the templ mount after wave isra flag via pamela geller - ...
1st text :  i  504 christian attack by muslim at the templ mount after wave isra flag via pamela geller - ...
2nd text :  j  506 christian attack by muslim at the templ mount after wave isra flag via pamela geller - ...
1st text :  i  510 christian attack by muslim at the templ mount after wave isra flag via pamela geller - ...
2nd text :  j  511 christian attack by muslim at the templ mount after wave isra flag via pamela geller - ...
1st text :  i  510 christian attack by muslim at the templ mount after wave isra flag via pamela geller - ...
2nd text :  j  512 christian attack by muslim at the templ mount after wave isra flag via pamela geller - ...
1st text :  i  603 fedex no longer to transport bioterror germ in wake of anthrax lab mishap
2nd text :  j  604 fedex no longer to transport bioterror germ in wake of anthrax lab mishap
1st text :  i  682 morgan silver dollar 1880 s gem bu dmpl cameo rev blaze ms+++++ high grade! - full read û_
2nd text :  j  683 morgan silver dollar 1880 s gem bu dmpl cameo rev blaze ms+++++ high grade! - full read û_
1st text :  i  952 new ladi shoulder tote handbag women cross bodi bag faux leather fashion purs - full reû_
2nd text :  j  953 new ladi shoulder tote handbag women cross bodi bag faux leather fashion purs - full reû_
1st text :  i  957 loui vuitton monogram sophi limit edit clutch cross bodi bag - full read by ebay
2nd text :  j  958 loui vuitton monogram sophi limit edit clutch cross bodi bag - full read by ebay
1st text :  i  1144 japan mark 70th anniversari of hiroshima atom bomb
2nd text :  j  1145 japan mark 70th anniversari of hiroshima atom bomb
1st text :  i  1144 japan mark 70th anniversari of hiroshima atom bomb
2nd text :  j  1146 japan mark 70th anniversari of hiroshima atom bomb
1st text :  i  1144 japan mark 70th anniversari of hiroshima atom bomb
2nd text :  j  1147 japan mark 70th anniversari of hiroshima atom bomb
1st text :  i  1151 japan mark 70th anniversari of hiroshima atom bomb
2nd text :  j  1152 japan mark 70th anniversari of hiroshima atom bomb (from @ap)
1st text :  i  1179 two giant crane hold a bridg collaps into nearbi home
2nd text :  j  1180 two giant crane hold a bridg collaps into nearbi home
1st text :  i  1184 two giant crane hold a bridg collaps into nearbi home
2nd text :  j  1185 two giant crane hold a bridg collaps into nearbi home
1st text :  i  1501 the catastroph effect of hiroshima and nagasaki atom bomb still be felt today
2nd text :  j  1502 the catastroph effect of hiroshima and nagasaki atom bomb still be felt today
1st text :  i  1501 the catastroph effect of hiroshima and nagasaki atom bomb still be felt today
2nd text :  j  1503 the catastroph effect of hiroshima and nagasaki atom bomb still be felt today
1st text :  i  2045 @remainontop fettilootch is slanglucci oppress greatest danger come soon the album
2nd text :  j  2046 @nugget fettilootch is slanglucci oppress greatest danger come soon the album
1st text :  i  2172 rì©union debri is almost sure from flight 370 offici say - new york time
2nd text :  j  2173 rì©union debri is almost sure from flight 370 offici say - new york time
1st text :  i  2278 enugu govern to demolish illeg structur at intern confer centr
2nd text :  j  2279 enugu govern to demolish illeg structur at intern confer centr
1st text :  i  2445 teamfollowback madhya pradesh train derailment: villag youth save mani live followback
2nd text :  j  2446 modiministri madhya pradesh train derailment: villag youth save mani live
1st text :  i  2684 ignit knock (detonation) sensor-senso standard ks161
2nd text :  j  2685 ignit knock (detonation) sensor-senso standard ks57
1st text :  i  2684 ignit knock (detonation) sensor-senso standard ks161
2nd text :  j  2686 ignit knock (detonation) sensor-senso standard ks94
1st text :  i  2752 70 year after atom bomb japan still struggl with war past: the anniversari of the devast wrought b...
2nd text :  j  2753 70 year after atom bomb japan still struggl with war past: the anniversari of the devast wrought b...
1st text :  i  2770 70 year after atom bomb japan still struggl with war past: the anniversari of the devast wrought b...
2nd text :  j  2771 70 year after atom bomb japan still struggl with war past: the anniversari of the devast wrought b...
1st text :  i  2830 .potu strategicpati is a strategi for genocide; refugees; idp intern displac people; horror; etc.
2nd text :  j  2831 .potu strategicpati is a strategi for genocide; refugees; idp intern displac people; horror; etc.
1st text :  i  2830 .potu strategicpati is a strategi for genocide; refugees; idp intern displac people; horror; etc.
2nd text :  j  2832 .potu strategicpati is a strategi for genocide; refugees; idp intern displac people; horror; etc.
1st text :  i  2830 .potu strategicpati is a strategi for genocide; refugees; idp intern displac people; horror; etc.
2nd text :  j  2833 .potu strategicpati is a strategi for genocide; refugees; idp intern displac people; horror; etc.
1st text :  i  2958 the drown girl by caitlin r. kiernan centiped press sign number limit - full reû_
2nd text :  j  2959 the drown girl by caitlin r. kiernan centiped press sign number limit - full reû_
1st text :  i  3238 men escap car engulf in flame in parley' canyon crew investig caus -
2nd text :  j  3239 men escap car engulf in flame in parley' canyon crew investig caus -
1st text :  i  3267 men escap car engulf in flame in parley' canyon crew investig caus -
2nd text :  j  3268 men escap car engulf in flame in parley' canyon crew investig caus -
1st text :  i  3267 men escap car engulf in flame in parley' canyon crew investig caus -
2nd text :  j  3269 men escap car engulf in flame in parley' canyon crew investig caus -
1st text :  i  3493 new explosion-proof temper glass screen protector film for blackberri z10 - full read byû_
2nd text :  j  3494 new explosion-proof temper glass screen protector film for blackberri z10 - full read byû_
1st text :  i  3528 dk eyewit travel guide: denmark: travel guid ebay auction you should keep an eye on:
2nd text :  j  3529 dk eyewit travel guide: denmark: travel guid ebay auction you should keep an eye on:
1st text :  i  3603 11-year-old boy charg with manslaught of toddler: report: an 11-year-old boy ha been charg with manslaught over the fatal sh...
2nd text :  j  3604 11-year-old boy charg with manslaught of toddler: report: an 11-year-old boy ha been charg with manslaught over the fatal sh...
1st text :  i  3613 11-year-old boy charg with manslaught of toddler: report: an 11-year-old boy ha been charg with manslaught over the fatal sh...
2nd text :  j  3614 11-year-old boy charg with manslaught of toddler: report: an 11-year-old boy ha been charg with manslaught over the fatal sh...
1st text :  i  3839 *new* snap on tool black basebal hat/cap silver/gray embroid s logo flame - full reû_
2nd text :  j  3840 *new* snap on tool black basebal hat/cap silver/gray embroid s logo flame - full reû_
1st text :  i  3913 spot flood combo 53inch 300w curv cree led work light bar 4x4 offroad fog lamp - full reû_
2nd text :  j  3914 spot flood combo 53inch 300w curv cree led work light bar 4x4 offroad fog lamp - full reû_
1st text :  i  3936 spot flood combo 53inch 300w curv cree led work light bar 4x4 offroad fog lamp - full reû_
2nd text :  j  3937 spot flood combo 53inch 300w curv cree led work light bar 4x4 offroad fog lamp - full reû_
1st text :  i  3936 spot flood combo 53inch 300w curv cree led work light bar 4x4 offroad fog lamp - full reû_
2nd text :  j  3938 spot flood combo 53inch 300w curv cree led work light bar 4x4 offroad fog lamp - full reû_
1st text :  i  3955 flood kill 166 displac over one million in pakistan - daili news &amp; analysi yugvani
2nd text :  j  3956 flood kill 166 displac over one million in pakistan - daili news &amp; analysi
1st text :  i  4216 dlh issu hazard weather outlook (hwo)
2nd text :  j  4217 jax issu hazard weather outlook (hwo)
1st text :  i  4364 remov the and linkuri browser hijack
2nd text :  j  4365 remov the and linkuri browser hijack
1st text :  i  4369 remov the and linkuri browser hijack
2nd text :  j  4370 remov the and linkuri browser hijack
1st text :  i  4391 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
2nd text :  j  4392 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
1st text :  i  4391 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
2nd text :  j  4393 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
1st text :  i  4391 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
2nd text :  j  4394 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
1st text :  i  4396 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
2nd text :  j  4397 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
1st text :  i  4399 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
2nd text :  j  4400 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
1st text :  i  4403 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
2nd text :  j  4404 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
1st text :  i  4403 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
2nd text :  j  4405 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
1st text :  i  4407 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
2nd text :  j  4408 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
1st text :  i  4414 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
2nd text :  j  4415 hot funtenna: hijack comput to send data as sound wave [black hat 2015] prebreak best
1st text :  i  4453 hot c-130 special modifi to land in a stadium and rescu hostag in iran in 1980 prebreak best
2nd text :  j  4454 hot c-130 special modifi to land in a stadium and rescu hostag in iran in 1980 prebreak best
1st text :  i  4461 hot c-130 special modifi to land in a stadium and rescu hostag in iran in 1980 prebreak best
2nd text :  j  4462 hot c-130 special modifi to land in a stadium and rescu hostag in iran in 1980 prebreak best
1st text :  i  4475 hot c-130 special modifi to land in a stadium and rescu hostag in iran in 1980 prebreak best
2nd text :  j  4476 hot c-130 special modifi to land in a stadium and rescu hostag in iran in 1980 prebreak best
1st text :  i  4485 hot c-130 special modifi to land in a stadium and rescu hostag in iran in 1980 prebreak best
2nd text :  j  4486 hot c-130 special modifi to land in a stadium and rescu hostag in iran in 1980 prebreak best
1st text :  i  4778 kabwandi_: break news! unconfirmed! i just heard a loud bang nearby. in what appear to be a blast of wind from my neighbour' ass.
2nd text :  j  4779 tkyonly1fmk: break news! unconfirmed! i just heard a loud bang nearby. in what appear to be a blast of wind from my neighbour' ass.
1st text :  i  4784 kotolily_: break news! unconfirmed! i just heard a loud bang nearby. in what appear to be a blast of wind from my neighbour' ass.
2nd text :  j  4785 tarmineta3: break news! unconfirmed! i just heard a loud bang nearby. in what appear to be a blast of wind from my neighbour' ass.
1st text :  i  4784 kotolily_: break news! unconfirmed! i just heard a loud bang nearby. in what appear to be a blast of wind from my neighbour' ass.
2nd text :  j  4786 shawie17shawie: break news! unconfirmed! i just heard a loud bang nearby. in what appear to be a blast of wind from my neighbour' ass.
1st text :  i  4796 jrowah: break news! unconfirmed! i just heard a loud bang nearby. in what appear to be a blast of wind from my neighbour' ass.
2nd text :  j  4797 k_matako_bot: break news! unconfirmed! i just heard a loud bang nearby. in what appear to be a blast of wind from my neighbour' ass.
1st text :  i  4799 kijima_matako: break news! unconfirmed! i just heard a loud bang nearby. in what appear to be a blast of wind from my neighbour' ass.
2nd text :  j  4800 matako_3: break news! unconfirmed! i just heard a loud bang nearby. in what appear to be a blast of wind from my neighbour' ass.
1st text :  i  4908 @nataliealund parent of colorado theater shoot victim fear copycat massacr antioch
2nd text :  j  4909 @wkrn parent of colorado theater shoot victim fear copycat massacr antioch
1st text :  i  5000 13 reason whi we love women in the militari - lulgzimbestpict
2nd text :  j  5001 13 reason whi we love women in the militari - lulgzimbestpict
1st text :  i  5247 refugio oil spill may have been costlier bigger than project
2nd text :  j  5248 refugio oil spill may have been costlier bigger than project
1st text :  i  5247 refugio oil spill may have been costlier bigger than project
2nd text :  j  5249 refugio oil spill may have been costlier bigger than project
1st text :  i  5247 refugio oil spill may have been costlier bigger than project
2nd text :  j  5250 refugio oil spill may have been costlier bigger than project
1st text :  i  5247 refugio oil spill may have been costlier bigger than project
2nd text :  j  5251 refugio oil spill may have been costlier bigger than project
1st text :  i  5259 refugio oil spill may have been costlier bigger than project
2nd text :  j  5260 refugio oil spill may have been costlier bigger than project (la times)
1st text :  i  5269 refugio oil spill may have been costlier bigger than project
2nd text :  j  5270 refugio oil spill may have been costlier bigger than project
1st text :  i  5272 refugio oil spill may have been costlier bigger than project news
2nd text :  j  5273 refugio oil spill may have been costlier bigger than project |
1st text :  i  5290 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legionnaires' disea...
2nd text :  j  5291 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legionnaires' disea...
1st text :  i  5293 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legionnaires' disea...
2nd text :  j  5294 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legionnaires' disea...
1st text :  i  5293 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legionnaires' disea...
2nd text :  j  5295 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legionnaires' disea...
1st text :  i  5293 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legionnaires' disea...
2nd text :  j  5296 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legio... muhamadjab

1st text :  i  5299 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legionnaires' disea...
2nd text :  j  5300 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legionnaires' disea...
1st text :  i  5304 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legionnaires' disea...
2nd text :  j  5305 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legionnaires' disea...
1st text :  i  5304 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legionnaires' disea...
2nd text :  j  5306 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legionnaires' disea...
1st text :  i  5304 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legionnaires' disea...
2nd text :  j  5307 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legionnaires' disea...
1st text :  i  5314 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legionnaires' disea...
2nd text :  j  5315 famili to sue over legionnaires: more than 40 famili affect by the fatal outbreak of legionnaires' disea...
1st text :  i  5333 pandemonium in aba as woman deliv babi without face (photos)
2nd text :  j  5334 pandemonium in aba as woman deliv babi without face (photos) -
1st text :  i  5467 reddit updat content polici promis to quarantin û÷extrem offensiveûª commun
2nd text :  j  5468 reddit updat content polici promis to quarantin û÷extrem offensiveûª commun
1st text :  i  5476 reddit will now quarantin offens content
2nd text :  j  5477 reddit will now quarantin offensiveåêcont
1st text :  i  5479 reddit will now quarantin offens content: reddit co-found and ceo steve huffman ha unveil more specif...
2nd text :  j  5480 reddit will now quarantin offens content: reddit co-found and ceo steve huffman ha unveil more specif...
1st text :  i  5481 wire busi reddit will now quarantin offens content
2nd text :  j  5482 rt @wired: reddit will now quarantin offens content
1st text :  i  5490 reddit will now quarantin offens content
2nd text :  j  5491 reddit will now quarantin offens content
1st text :  i  5490 reddit will now quarantin offens content
2nd text :  j  5492 reddit will now quarantin offensiveåêcont
1st text :  i  5495 reddit will now quarantin offens content
2nd text :  j  5496 reddit will now quarantin offensiveåêcont
1st text :  i  5495 reddit will now quarantin offens content
2nd text :  j  5497 reddit will now quarantin offens content
1st text :  i  5582 the latest: more home raze by northern california wildfir -
2nd text :  j  5583 the latest: more home raze by northern california wildfir - abc news
1st text :  i  5582 the latest: more home raze by northern california wildfir -
2nd text :  j  5584 the latest: more home raze by northern california wildfir - abc news
1st text :  i  5587 the latest: more home raze by northern california wildfir - abc news
2nd text :  j  5588 the latest: more home raze by northern california wildfir - abc news
1st text :  i  5587 the latest: more home raze by northern california wildfir - abc news
2nd text :  j  5589 the latest: more home raze by northern california wildfir -
1st text :  i  5587 the latest: more home raze by northern california wildfir - abc news
2nd text :  j  5590 the latest: more home raze by northern california wildfir -
1st text :  i  5587 the latest: more home raze by northern california wildfir - abc news
2nd text :  j  5591 the latest: more home raze by northern california wildfir -
1st text :  i  5593 the latest: more home raze by northern california wildfir -
2nd text :  j  5594 the latest: more home raze by northern california wildfir -
1st text :  i  5593 the latest: more home raze by northern california wildfir -
2nd text :  j  5595 the latest: more home raze by northern california wildfir - abc news
1st text :  i  5597 the latest: more home raze by northern california wildfir - abc news
2nd text :  j  5598 the latest: more home raze by northern california wildfir - abc news
1st text :  i  5597 the latest: more home raze by northern california wildfir - abc news
2nd text :  j  5599 the latest: more home raze by northern california wildfir -
1st text :  i  5603 the latest: more home raze by northern california wildfir - abc news gn
2nd text :  j  5604 the latest: more home raze by northern california wildfir - abc news
1st text :  i  5603 the latest: more home raze by northern california wildfir - abc news gn
2nd text :  j  5605 the latest: more home raze by northern california wildfir - abc news
1st text :  i  5603 the latest: more home raze by northern california wildfir - abc news gn
2nd text :  j  5606 the latest: more home raze by northern california wildfir - abc news
1st text :  i  5610 the latest: more home raze by northern california wildfir -
2nd text :  j  5611 the latest: more home raze by northern california wildfir - abc news
1st text :  i  5620 wowo--=== 12000 nigerian refuge repatri from cameroon
2nd text :  j  5621 ./.....hmm 12000 nigerian refuge repatri from cameroon /(
1st text :  i  5659 last chanc anim rescu ha 3 new posts. animalrescu |
2nd text :  j  5660 last chanc anim rescu ha 3 new posts. animalrescu |
1st text :  i  5707 video: 'we'r pick up bodi from water': rescuer are search for hundr of migrant in the mediterran...
2nd text :  j  5708 video: 'we'r pick up bodi from water': rescuer are search for hundr of migrant in the mediterran...
1st text :  i  5707 video: 'we'r pick up bodi from water': rescuer are search for hundr of migrant in the mediterran...
2nd text :  j  5709 video: 'we'r pick up bodi from water': rescuer are search for hundr of migrant in the mediterran...
1st text :  i  5718 video: 'we'r pick up bodi from water': rescuer are search for hundr of migrant in the mediterran...
2nd text :  j  5719 video: 'we'r pick up bodi from water': rescuer are search for hundr of migrant in the mediterran...
1st text :  i  5730 video: 'we'r pick up bodi from water': rescuer are search for hundr of migrant in the mediterran...
2nd text :  j  5731 video: 'we'r pick up bodi from water': rescuer are search for hundr of migrant in the mediterran...
1st text :  i  5813 @accionempresa chinaûª stock market crash thi summer ha spark interest from bargain hunt... @gerenciatodo å¨
2nd text :  j  5814 @accionempresa chinaûª stock market crash thi summer ha spark interest from bargain hunt... @gerenciatodo å¨
1st text :  i  5831 china' stock market crash: are there gem in the rubble? roimentor yycwalk
2nd text :  j  5832 china' stock market crash: are there gem in the rubble? |
1st text :  i  5876 watch thi airport get swallow up by a sandstorm in under a minut
2nd text :  j  5877 watch thi airport get swallow up by a sandstorm in under a minut
1st text :  i  5881 watch thi airport get swallow up by a sandstorm in under a minut
2nd text :  j  5882 watch thi airport get swallow up by a sandstorm in under a minut
1st text :  i  5881 watch thi airport get swallow up by a sandstorm in under a minut
2nd text :  j  5883 watch thi airport get swallow up by a sandstorm in under a minut
1st text :  i  5881 watch thi airport get swallow up by a sandstorm in under a minut
2nd text :  j  5884 watch thi airport get swallow up by a sandstorm in under a minut
1st text :  i  5881 watch thi airport get swallow up by a sandstorm in under a minut
2nd text :  j  5885 watch thi airport get swallow up by a sandstorm in under a minut
1st text :  i  5888 watch thi airport get swallow up by a sandstorm in under a minut
2nd text :  j  5889 watch thi airport get swallow up by a sandstorm in under a minut
1st text :  i  5888 watch thi airport get swallow up by a sandstorm in under a minut
2nd text :  j  5890 watch thi airport get swallow up by a sandstorm in under a minut
1st text :  i  5888 watch thi airport get swallow up by a sandstorm in under a minut
2nd text :  j  5891 watch thi airport get swallow up by a sandstorm in under a minut
1st text :  i  5894 watch thi airport get swallow up by a sandstorm in under a minut
2nd text :  j  5895 watch thi airport get swallow up by a sandstorm in under a minut
1st text :  i  5894 watch thi airport get swallow up by a sandstorm in under a minut
2nd text :  j  5896 watch thi airport get swallow up by a sandstorm in under a minut
1st text :  i  5894 watch thi airport get swallow up by a sandstorm in under a minut
2nd text :  j  5897 watch thi airport get swallow up by a sandstorm in under a minut
1st text :  i  5894 watch thi airport get swallow up by a sandstorm in under a minut
2nd text :  j  5898 watch thi airport get swallow up by a sandstorm in under a minut
1st text :  i  5900 watch thi airport get swallow up by a sandstorm in under a minut
2nd text :  j  5901 watch thi airport get swallow up by a sandstorm in under a minut
1st text :  i  5903 watch thi airport get swallow up by a sandstorm in under a minut
2nd text :  j  5904 watch thi airport get swallow up by a sandstorm in under a minut
1st text :  i  5903 watch thi airport get swallow up by a sandstorm in under a minut
2nd text :  j  5905 watch thi airport get swallow up by a sandstorm in under a minut
1st text :  i  5987 *scream internally*
2nd text :  j  5988 *screams*
1st text :  i  6364 pic of 16yr old pkk suicid bomber who deton bomb in turkey armi trench releas
2nd text :  j  6365 pic of 16yr old pkk suicid bomber who deton bomb in turkey armi trench releas
1st text :  i  6368 pic of 16yr old pkk suicid bomber who deton bomb in turkey armi trench releas
2nd text :  j  6369 pic of 16yr old pkk suicid bomber who deton bomb in turkey armi trench releas
1st text :  i  6377 bestnaijamade: 16yr old pkk suicid bomber who deton bomb in ... bestnaijamad bestnaijamad bestnaijamad beû_
2nd text :  j  6378 bestnaijamade: 16yr old pkk suicid bomber who deton bomb in ... bestnaijamad bestnaijamad bestnaijamad beû_
1st text :  i  6379 //./../.. pic of 16yr old pkk suicid bomber who deton bomb in turkey armi trench releas -/
2nd text :  j  6380 recap/ pic of 16yr old pkk suicid bomber who deton bomb in turkey armi trench releas
1st text :  i  6382 16yr old pkk suicid bomber who deton bomb in turkey armi trench releas
2nd text :  j  6383 16yr old pkk suicid bomber who deton bomb in turkey armi trench releas
1st text :  i  6382 16yr old pkk suicid bomber who deton bomb in turkey armi trench releas
2nd text :  j  6384 16yr old pkk suicid bomber who deton bomb in turkey armi trench releas
1st text :  i  6444 turkish troop kill in kurdish milit 'suicid attack'
2nd text :  j  6445 turkish troop kill in kurdish milit 'suicid attack'
1st text :  i  6650 three isra soldier wound in west bank terrorist attack - haaretz
2nd text :  j  6651 three isra soldier wound in west bank terrorist attack via /r/worldnew
1st text :  i  6806 rli tragedi in mp: some live to recount horror: ûïwhen i saw coach of my train plung into water i call ...
2nd text :  j  6807 rli tragedi in mp: some live to recount horror: ûïwhen i saw coach of my train plung into water i call ...
1st text :  i  6806 rli tragedi in mp: some live to recount horror: ûïwhen i saw coach of my train plung into water i call ...
2nd text :  j  6808 rli tragedi in mp: some live to recount horror: ûïwhen i saw coach of my train plung into water i call ...
1st text :  i  6821 hollywood movi about trap miner releas in chile
2nd text :  j  6822 hollywood movi about trap miner releas in chile zippednew
1st text :  i  6840 hollywood movi about trap miner releas in chile: 'the 33' hollywood movi about trap miner starring...
2nd text :  j  6841 hollywood movi about trap miner releas in chile: 'the 33' hollywood movi about trap miner starring...
1st text :  i  6842 hollywood movi about trap miner releas in chile
2nd text :  j  6843 hollywood movi about trap miner releas in chile
1st text :  i  7023 obama declar disast for typhoon-devast saipan: obama sign disast declar for northern marian a...
2nd text :  j  7024 obama declar disast for typhoon-devast saipan: obama sign disast declar for northern marian a...
1st text :  i  7035 obama declar disast for typhoon-devast saipan: obama sign disast declar for northern marian a...
2nd text :  j  7036 obama declar disast for typhoon-devast saipan: obama sign disast declar for northern marian a...
1st text :  i  7076 ancient mayan tablet with hieroglyph honor lowli king
2nd text :  j  7077 ancient mayan tablet with hieroglyph honor lowli king
1st text :  i  7112 dramat video show plane land dure violent storm -
2nd text :  j  7113 dramat video show plane land dure violent storm
1st text :  i  7511 wreckag 'conclus confirmed' as from mh370: malaysia pm: investig and the famili of those who were...
2nd text :  j  7512 wreckag 'conclus confirmed' as from mh370: malaysia pm: investig and the famili of those who were...
1st text :  i  7516 wreckag 'conclus confirmed' as from mh370: malaysia pm: investig and the famili of those who were...
2nd text :  j  7517 wreckag 'conclus confirmed' as from mh370: malaysia pm: investig and the famili of those who were...
1st text :  i  7519 wreckag 'conclus confirmed' as from mh370: malaysia pm: investig and the famili of those who were...
2nd text :  j  7520 wreckag 'conclus confirmed' as from mh370: malaysia pm: investig and the famili of those who were...
1st text :  i  7528 wreckag 'conclus confirmed' as from mh370: malaysia pm: investig and the famili of those who were...
2nd text :  j  7529 wreckag 'conclus confirmed' as from mh370: malaysia pm: investig and the famili of those who were...
1st text :  i  7538 wreckag 'conclus confirmed' as from mh370: malaysia pm: investig and the famili of those who were...
2nd text :  j  7539 wreckag 'conclus confirmed' as from mh370: malaysia pm: investig and the famili of those who were...
1st text :  i  7538 wreckag 'conclus confirmed' as from mh370: malaysia pm: investig and the famili of those who were...
2nd text :  j  7540 wreckag 'conclus confirmed' as from mh370: malaysia pm: investig and the famili of those who were...
1st text :  i  7538 wreckag 'conclus confirmed' as from mh370: malaysia pm: investig and the famili of those who were...
2nd text :  j  7541 wreckag 'conclus confirmed' as from mh370: malaysia pm: investig and the famili of those who were...

In [16]:
train_df_dedupe = train_df.loc[train_df['id'].isin(stage1_dedupe_id)]
train_df_dedupe

,id,keyword,location,text,target
0,1,NaN,NaN,our deed are the reason of thi earthquak may a...,1
1,4,NaN,NaN,forest fire near la rong sask. canada,1
2,5,NaN,NaN,all resid ask to 'shelter in place' are be not...,1
3,6,NaN,NaN,"13,000 peopl receiv wildfir evacu order in cal...",1
4,7,NaN,NaN,just got sent thi photo from rubi alaska as sm...,1
...,...,...,...,...,...
7607,10867,NaN,NaN,stormchas violent record break ef-5 el reno ok...,1
7608,10869,NaN,NaN,two giant crane hold a bridg collaps into near...,1
7609,10870,NaN,NaN,@aria_ahrari @thetawniest the out of control w...,1
7610,10871,NaN,NaN,m1.94 [01:04 utc]?5km s of volcano hawaii.,1
7611,10872,NaN,NaN,polic investig after an e-bik collid with a ca...,1

In [17]:
train_df_dedupe.shape

(7441, 5)

#### Remove Stopwords

In [18]:
# removing stopwords
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
print(ENGLISH_STOP_WORDS)

def nlp_preprocessing(total_text, index, column):
    if type(total_text) is not int:
        string = ""
        for words in total_text.split():
            # remove the special chars in review like '"#$@!%^&*()_+-~?>< etc.
            word = ("".join(e for e in words if e.isalnum()))
            # Conver all letters to lower-case
            word = word.lower()
            # stop-word removal
            if not word in ENGLISH_STOP_WORDS:
                string += word + " "
        train_df_dedupe[column][index] = string

frozenset({'ltd', 'full', 'whom', 'with', 'thick', 'else', 'rather', 'then', 'un', 'fire', 'others', 'nor', 'wherein', 'front', 'alone', 'same', 'again', 'become', 'nine', 'cant', 'nowhere', 'former', 'three', 'within', 'four', 'put', 'be', 'who', 'now', 'other', 'therefore', 'becoming', 'afterwards', 'above', 'beyond', 'seem', 'whole', 'eight', 'themselves', 'something', 'find', 'herself', 'it', 'the', 'her', 'enough', 'so', 'i', 'after', 'am', 'latter', 'thru', 'five', 'us', 'when', 'somewhere', 'before', 'thereafter', 'could', 'either', 'yourself', 'system', 'but', 'well', 'empty', 'than', 'yet', 'however', 'what', 're', 'do', 'whether', 'wherever', 'sometime', 'name', 'own', 'or', 'anything', 'will', 'whereafter', 'myself', 'take', 'formerly', 'part', 'another', 'none', 'fill', 'also', 'is', 'twelve', 'whenever', 'which', 'me', 'whence', 'any', 'toward', 'seeming', 'everything', 'its', 'etc', 'whatever', 'every', 'ours', 'this', 'go', 'both', 'neither', 'on', 'due', 'describe', 'that', 'forty', 'why', 'here', 'under', 'seemed', 'someone', 'amongst', 'thence', 'nobody', 'to', 'out', 'his', 'anyone', 'back', 'namely', 'mine', 'from', 'bottom', 'whither', 'about', 'their', 'therein', 'each', 'too', 'perhaps', 'many', 'had', 'ever', 'next', 'eg', 'our', 'elsewhere', 'serious', 'anywhere', 'eleven', 'less', 'throughout', 'hers', 'co', 'along', 'upon', 'ourselves', 'fifteen', 'nothing', 'there', 'whereby', 'least', 'itself', 'bill', 'several', 'move', 'between', 'without', 'may', 'very', 'against', 'being', 'two', 'once', 'your', 'around', 'found', 'interest', 'top', 'twenty', 'often', 'can', 'him', 'except', 'latterly', 'might', 'of', 'never', 'meanwhile', 'everywhere', 'have', 'thus', 'off', 'through', 'moreover', 'together', 'get', 'already', 'somehow', 'he', 'those', 'if', 'noone', 'over', 'sometimes', 'are', 'amoungst', 'much', 'were', 'onto', 'became', 'was', 'third', 'anyway', 'mill', 'been', 'we', 'them', 'few', 'hence', 'across', 'must', 'seems', 'first', 'my', 'ie', 'otherwise', 'whereas', 'in', 'during', 'whereupon', 'for', 'anyhow', 'besides', 'thin', 'cry', 'via', 'indeed', 'even', 'amount', 'cannot', 'until', 'please', 'detail', 'all', 'almost', 'she', 'nevertheless', 'con', 'they', 'keep', 'sincere', 'whoever', 'up', 'though', 'himself', 'towards', 'per', 'give', 'sixty', 'yours', 'hereafter', 'should', 'more', 'always', 'thereby', 'at', 'last', 'becomes', 'how', 'only', 'fifty', 'where', 'couldnt', 'some', 'a', 'hereupon', 'because', 'herein', 'no', 'these', 'thereupon', 'below', 'hasnt', 'while', 'hereby', 'you', 'one', 'into', 'not', 'ten', 'as', 'everyone', 'has', 'an', 'inc', 'would', 'side', 'mostly', 'down', 'most', 'beforehand', 'and', 'such', 'six', 'by', 'whose', 'beside', 'de', 'hundred', 'among', 'although', 'see', 'behind', 'yourselves', 'further', 'made', 'since', 'still', 'done', 'show', 'call'})

In [19]:
start_time = time.time()
# we take each title and we text-preprocess it.
for index, row in train_df_dedupe.iterrows():
    nlp_preprocessing(row['text'], index, 'text')
# we print the time it took to preprocess whole titles 
print('Removed stopwords in',time.time() - start_time, "seconds")

C:\Users\kashy\AppData\Local\Temp/ipykernel_20536/807353108.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df_dedupe[column][index] = string

Removed stopwords in 2.33223557472229 seconds

In [20]:
train_df_dedupe.head(10)

,id,keyword,location,text,target
0,1,NaN,NaN,deed reason thi earthquak allah forgiv,1
1,4,NaN,NaN,forest near la rong sask canada,1
2,5,NaN,NaN,resid ask shelter place notifi officers evacu ...,1
3,6,NaN,NaN,13000 peopl receiv wildfir evacu order califor...,1
4,7,NaN,NaN,just got sent thi photo rubi alaska smoke wild...,1
5,8,NaN,NaN,rockyfir updat california hwy 20 close direct...,1
6,10,NaN,NaN,flood disast heavi rain caus flash flood stree...,1
7,13,NaN,NaN,im hill woods,1
8,14,NaN,NaN,emerg evacu happen build street,1
9,15,NaN,NaN,im afraid tornado come area,1

In [21]:
count_vectorizer = feature_extraction.text.CountVectorizer()

In [22]:
train_vectors = count_vectorizer.fit_transform(train_df_dedupe["text"])

In [23]:
train_vectors

<7441x15949 sparse matrix of type '<class 'numpy.int64'>'
	with 64642 stored elements in Compressed Sparse Row format>

In [24]:
test_vectors = count_vectorizer.transform(test_df["text"])

In [25]:
clf = linear_model.RidgeClassifier()

### Train Test Set Split

In [26]:
# targets

Y_train = train_df_dedupe['target']
Y_train.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [27]:
# Splitting and training
train_inputs, test_inputs, train_targets, test_targets = train_test_split(X_train_temp, Y_train_temp, test_size=0.25, random_state=42)

NameError: name 'X_train_temp' is not defined